<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>  
  <appSettings>
    <add key="RunMode" value=""/> <!--기본값: 빈 문자열, d:디버깅-->
    <add key="DeviceNumber" value="1"/><!--기본값: 0-->
    <add key="RunMaximum" value="10"/><!--최대 실행 횟수-->
    <add key="DetectWidth" value="175"/><!--검출영역 폭-->
    <add key="DetectHeight" value="45"/><!--검출영역 높이-->
    <add key="DeleteWidth" value="16"/><!--검출영역에서 잘라낼 앞부분 폭-->
    <add key="ThresholdValue" value="40"/><!--Binarize 임계치-->
    <add key="PathResult" value="result"/><!--결과 저장 경로-->
    <add key="PathSuccess" value="success"/><!--성공 사본 저장 경로-->
    <add key="PathFail" value="fail"/><!--실패 사본 저장 경로-->
    <add key="PathException" value="exception"/><!--Exception 저장 경로-->
  </appSettings>
</configuration>